*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo
.DS_Store
.dev.vars*
.env*
.eslintcache
.idea/shelf/
.idea/usage.statistics.xml
.idea/workspace.xml
.wrangler/
.yarn/
__screenshots__/
coverage/
cypress/screenshots/
cypress/videos/
dist-ssr/
dist/
lerna-debug.log*
logs/
node_modules/
yarn-debug.log*
yarn-error.log*

!.dev.vars.example
!.env.example
!.yarn/releases
